/* CITY GUIDE */
/* **** Generic Plan section styles **** */

.plan h1 { font-size:2.8em; color:#e42118; }

p.box-heading-2 { font-family: Helvetica, Arial, sans-serif!important; font-weight:bold; font-size: 1em; color:#e42118; }

.need-to-know-sidebar {
   background-color: #eee8d7;
   border-radius: 10px;
   margin:1em 0;
   padding: 1em;
   }
   .need-to-know-sidebar p.list-b { font-family:LPBentonSansRegular, Helvetica, Arial, sans-serif!important; font-size: .9em; }


/* --------- WELCOME SECTION ----------- */

.welcome-to-x h1 { font-size:2.5em; }
.welcome-to-x h3 { font-size:1.3em; color:#005ea8; }

.welcome-to-x .introduction {
   text-align:right;
   font-size:1.3em;
   font-style:italic;
   font-family:Georgia, Times, serif;
   color:#005ea8;
   margin:0 0 1.5em 0;
   line-height:130%;
   webkit-hyphens: none;
   hyphens: none;
   }

.why-i-love { background-color: #EFEBDB; padding:20px; font-family: Helvetica, Arial sans-serif; margin: 15px 0px; }
.why-i-love img { max-width:100%; }

.why-i-love p { font-family: Helvetica, Arial, sans-serif; font-size: .9em; }

.why-i-love h3 { color: #E63323; font-size:1.2em!important; font-family: Helvetica, Arial sans-serif; margin-top:10px; margin-bottom:0; font-weight:bold; }

.why-i-love h3 + p  { font-size:.8em; }
.why-i-love .heading-2-welcome-to + p { font-size:.8em; }
.why-i-love .box-body-text { text-indent:0; }

.why-i-love .image_container { margin:0; }


/* --------- TOP LIST ----------- */

.running-header {
   font-family:LPMillerBold, Georgia, Times, serif;
   font-size:1.1em;
   color:#E63323;
   font-weight:normal;
   padding-top:.2em;
   border-top:5px solid #E63323;
   margin:0 0 1em 0;
   }

.top-experiences .image_container { margin:15px 0; }

.top-experiences h2 { font-size:1.6em; color:#0068A5; font-family:LPMillerBold, Georgia, Times, serif; margin-bottom: .4em; }

.top-experiences .list-b {
  font-size:1em;
  padding:3px 0 5px 38px;
  margin-top: .4em;
  font-style: italic;
  font-weight:bold;
  }

 .top-experiences .list-b .font-icon { color:#e42118; font-size:1.5em; }

 .experience-sight .list-b { background:url(images/category-sights.gif) no-repeat 0 center; }
 .experience-festival .list-b { background:url(images/category-festival.gif) no-repeat 0 center; }
 .experience-sporting .list-b { background:url(images/category-activities.gif) no-repeat 0 center; }
 .experience-drink .list-b { background:url(images/category-drink.gif) no-repeat 0 center; }
 .experience-eat .list-b { background:url(images/category-eat.gif) no-repeat 0 center; }
 .experience-entertain .list-b { background:url(images/category-entertain.gif) no-repeat 0 center; }
 .experience-shop .list-b { background:url(images/category-shop.gif) no-repeat 0 center; }
 .experience-sleeping .list-b { background:url(images/category-sleep.gif) no-repeat 0 center; }



/* --------- NEED TO KNOW / GETTING AROUND ----------- */

.need-to-know-chapter h1,
.getting-around h1 { color:#e42118; font-family:LPMillerBold, Georgia, Times, serif; font-weight:normal; font-size:2.8em; line-height:100%; margin:0 0 .5em 0; padding:0; text-align:left; }

.need-to-know-chapter h2,
.getting-around h2 { font-family:LPMillerBold, Georgia, Times, serif; font-weight:normal; font-size:1.5em; margin:1em 0 .2em 0; line-height:100%; text-align:left; color:#005ea8; }

.need-to-know-chapter p,
.getting-around p { font-family: Helvetica, Arial sans-serif; font-size:.9em; line-height:130%; }

.column1 .flush-left,
.column1 .body-text { font-family: Helvetica, Arial sans-serif; text-align:left; margin:1em 0 .2em 0; font-size:1em; }

h5 + h5 { margin-top:0; }

.need-to-know-sidebar { background: none; padding:0; }

.need-to-know-sidebar h6 {
   border-top: 2px dotted #E42118;
   color: #E42118;
   font-family: Helvetica,Arial,sans-serif;
   font-weight: bold;
   margin: 1em 0 0.2em;
   padding-top: 1em;
   font-size: 1.1em;
   }

.need-to-know-sidebar div:first-child h6 { margin-top:0; border-top:none; }


.need-to-know-sidebar p.flush-left {  font-family: Helvetica, Arial sans-serif!important; font-size:.9em; }

.need-to-know-chapter .list-c { margin-top:.1em; }

.need-to-know-sidebar-heading-no-rule { font-family: Helvetica, Arial, sans-serif; color:#e42118; font-weight:bold; }

.need-to-know-sidebar-heading { font-family: Helvetica, Arial, sans-serif; color:#e42118; border-top:2px dotted #e42118; padding-top:1em; margin:1em 0 .2em 0; font-weight:bold; }

.heading-4-need-to-know { font-family: Helvetica, Arial, sans-serif; font-size:1.1em; color:#000; font-weight:bold; margin-top:.6em; padding-top:.6em; border-top:2px dotted #e42118; }
.heading-4-need-to-know em { font-style:normal; font-weight:normal; }

.heading-3 + table { margin-top:.5em; }

.need-to-know-chapter .table-entries td,
.getting-around .table-entries td { background-color: #fbf9f4; }

.need-to-know-chapter tr:nth-child(2n+1) td,
.getting-around tr:nth-child(2n+1) td { background-color: #f3edde; }

.when-to-go h2 {
   border-bottom: 3px dotted #E8181C;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 1em;
   font-weight: bold;
   margin: 0em 0 0.5em;
   padding-bottom: .3em;
   text-transform: uppercase;
   color: #000;
   }

.when-to-go + div { text-align:center; }

.context-for-much-more {  /* blue arrow box */
  background-color: #DAE0F2;
  border-radius: 7px 40px 40px 7px;
  margin: 15px 0;
  min-height: 2.6em;
  padding: 10px 15px;
  width:85%;
  page-break-inside: avoid;
  }
   .context-for-much-more img { float: right; padding-top: 1px; }


/* --------- FIRST TIME ----------- */

.first-time h3 { border-top:6px solid #eee8d7; padding-top:.3em; margin:1em 0 .2em 0; font-size: 1.4em; }
/*.module2 h3:first-child { margin-top:0; } */

.first-time .module-1 h2 { font-family: Helvetica, Arial, sans-serif; font-size: 1.1em; margin:1em 0 .5em 0; color:#e42118; font-weight:bold; }

.first-time .module-1 { background-color: #eee8d7; /*float:left; width:35%; */padding:1em; margin:0 1em 1em 0; border-radius:10px; }
.first-time .module-1 .list-b { font-size:.9em; }
.first-time .module-1 div:first-child h2 { margin-top:0; }
.first-time .module-1 .list-b { font-family:LPBentonSansRegular, Helvetica, Arial, sans-serif!important; font-size:.9em; }

.first-time .module-5 {
  background-color: #eee8d7;
  border-radius: 10px 10px 10px 10px;
  margin:0;
  padding: 1em;
  page-break-inside: avoid;
  }

.first-time .module-5 .heading-3 { margin-top:0; color:#005EA8; }
.first-time .module-5 img { margin:1em 0 0 0; max-width:100%; }

.heading-3-rule { height:6px; background-color: #ebe2c7; }

.first-time .list-b { font-family:Times, "Times New Roman", serif; font-size:1em; }

.module-5-with-phrasebook-eps {
   background-color: #F0EBD8;
   border-radius: 10px 10px 10px 10px;
   margin-bottom: 0;
   padding: 1em;
   page-break-inside: avoid;
   }
   .module-5-with-phrasebook-eps p.flush-left,
   .module-5-with-phrasebook-eps p.body-text { font-family:LPBentonSansRegular, Helvetica, Arial, sans-serif!important; font-size: .9em; }
   .module-5-with-phrasebook-eps .heading-3-first-time:first-child { margin-top:0; }
   .module-5-with-phrasebook-eps .heading-4 { margin-top:.7em; }


/* --------- IF YOU LIKE ----------- */

.if-you-like p.flush-left,
.if-you-like p.body-text { font-family: Arial,Helvetica,sans-serif; font-size:.9em; }
.if-you-like .list-c { font-family: Arial,Helvetica,sans-serif; font-size:.9em; margin-top:.4em; }
.if-you-like .list-c .emphasis-character { font-weight:normal; }

.if-you-like h4 {
   border-top: 6px solid #EBE2C7;
   color: #E42118;
   font-family: Arial,Helvetica,sans-serif;
   font-size:1.3em;
   margin-top: 1em;
   padding-top: 0.3em;
   font-weight: bold;
   margin-bottom: .2em;
   }

/* --------- MONTH BY MONTH ----------- */

.month-by-month h2 { color:#e42118; border-top: 6px solid #EBE2C7; padding-top: 0.3em; font-family: Helvetica, Arial, sans-serif; font-weight:bold; }
.month-by-month h6 {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 1em;
   font-weight: bold;
   margin-bottom: 0.2em;
   margin-top: .3em;
   color:#000;
   }

.month-by-month .intro-text em { font-style:normal; }

.month-by-month .font-icon { color:#0068A5; font-size: 1.5em; }

.month-by-month .activities h6,
.month-by-month .tours h6 { background: url(images/category-activities.gif) no-repeat; padding: 12px 0 0 35px; }
.month-by-month .beach h6 { background: url(images/category-beach.gif) no-repeat 0 4px; padding: 12px 0 4px 35px; }
.month-by-month .courses h6 { background: url(images/category-courses.gif) no-repeat 0 4px; padding: 12px 0 4px 40px; }
.month-by-month .drinking h6 { background: url(images/category-drink.gif) no-repeat 0 4px; padding: 12px 0 4px 32px; }
.month-by-month .entertainment h6 { background: url(images/category-entertain.gif) no-repeat 0 4px; padding: 12px 0 4px 40px; }
.month-by-month .eating h6 { background: url(images/category-eat.gif) no-repeat 0 4px; padding: 12px 0 4px 40px; }
.month-by-month .festivals h6 { background: url(images/category-festival.gif) no-repeat 0 4px; padding: 12px 0 4px 40px; }
.month-by-month .shopping h6 { background: url(images/category-shop.gif) no-repeat 0 4px; padding: 12px 0 4px 35px; }
.month-by-month .sights h6 { background: url(images/category-sights.gif) no-repeat 0 4px; padding: 12px 0 4px 40px; }
.month-by-month .sleeping h6 { background: url(images/category-sleep.gif) no-repeat; padding: 12px 0 4px 40px; }
.month-by-month .information h6 { padding: 0; }



/* --------- WHATS NEW ----------- */

.whats-new h1 { color:#e42118; }
.whats-new h2 { color:#005ea8; margin-bottom:.4em; font-family: Helvetica, Arial, sans-serif; font-size:1.4em; font-weight:bold; }
.whats-new h4 { color:#000; margin-bottom:0; font-family: Helvetica, Arial, sans-serif; font-size:1.1em; }

.context-whats-new-website-box {
   background-color: #DAE0F2;
   border-radius: 7px 40px 40px 7px;
   margin: 15px 0;
   min-height: 70px;
   padding: 10px 20px 10px 7px;
   page-break-inside: avoid;
   width:85%;
   }

.context-whats-new-website-box p { font-family: Helvetica, Arial, sans-serif; font-size:.9em; -webkit-hyphens: none; hyphens: none; }
.context-whats-new-website-box img { float: left; padding-right: 8px; }

.context-itineraries-1st-main,
.context-itineraries-main { clear:both; }

.context-feature-event { border-bottom:10px solid #eee8d7; padding-bottom:.6em; }
.context-feature-event .heading-2,
.context-feature-event .heading-2-no-line-above { color:#e42118; font-family: Helvetica,Arial,sans-serif; font-size: 1.4em; font-weight: bold; margin-bottom: 0.4em; }


/* --------- ITINERARIES ----------- */

.top-itineraries h2 { font-family: Helvetica, Arial sans-serif; color:#e42118; font-weight:bold; }
.top-itineraries h6 { margin-bottom:.5em; font-size:1.1em; }

.top-itineraries-box { page-break-inside: avoid; background-color: #eee8d7; padding:.7em; border-radius:7px; margin:.7em 0 0 .2em; overflow: hidden; }


.top-itineraries-box .list-c { font-family: Helvetica, Arial sans-serif; font-size:.9em; margin:15px; }

.itinerary-eating { float: left; margin-right:.5em; }

.am-pm { float:left; }


/* ------- PLAN YOUR TRIP (like a local, for free, with kids --------- */

.plan-your-trip { color:#e42118; margin:0; }

.planning-feature .heading-1,
.plan-feature-1-page-only .heading-1 { color:#E42118; }

.planning-feature .list-b { font-family:Times, "Times New Roman", serif; font-size:1em; }

.planning-feature h4,
.planning-feature-1-page-only h4 {
   border-top: 6px solid #EBE2C7;
   color: #005ea8;
   font-family: LPMillerBold, serif;
   font-weight: bold;
   padding-top:0.3em;
   margin:1em 0 .2em 0;
   font-weight:normal;
   font-size:1.2em;
   }

.planning-feature .introduction-flush-left,
.planning-feature-1-page-only .introduction-flush-left {
   color: #005ea8;
   font-style:italic;
   font-family:Georgia, Times, serif;
   margin-bottom:.6em;
   }

.sidebar-heading-plan-feature,
.snippets .sidebar-heading {
   color: #E42118;
   font-family: Arial,Helvetica,sans-serif;
   font-size: 1.3em;
   font-weight: bold;
   margin: .5em 0 0.3em 0.2em;
   padding: 0;
   }

.sidebar-heading-plan-feature:first-child,
.snippets .sidebar-heading:first-child { margin-top:0; }

.sidebar-heading-plan-feature + .heading-4 { margin-top:.5em; }

.planning-feature .heading-2,
.planning-feature-1-page-only h2  {
   border-top: 6px solid #EBE2C7;
   color: #E42118;
   font-family: Helvetica,Arial,sans-serif;
   font-weight: bold;
   padding-top: 0.3em;
   }

.planning-feature-1-page-only h3 { font-family:LPMillerBold, Georgia, Times, serif; color:#005ea8; font-size:1.2em; margin-bottom:0; }

.planning-feature-1-page-only h5 { font-family: Helvetica, Arial, sans-serif; color:#E42118; font-weight:bold; margin:1em 0 .2em 0; font-size: 1em; }

.intro-text-itineraries {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 1.1em;
   margin:0em 0 .5em 0;
   color:#005ea8;
   border-top:2px dotted #005ea8;
   border-bottom:2px dotted #005ea8;
   padding:.5em 0;
   }

.table-box .box-heading-1,
.table-box-2-page-1-col .box-heading-1,
.table-box-2-page-2-col .box-heading-1 {
   margin:15px 0 0 0;
   border-top:3px dotted #E8181C;
   border-bottom:3px dotted #E8181C;
   padding-top:5px;
   }

/* --------- CATEGORY OVERVIEW ----------- */

.cat-overview h1 {
   color:#000;
   font-size:2.4em;
   font-family:Helvetica, Arial, sans-serif;
   font-weight:bold;
   padding-top: .1em;
   background: url(images/category-sights-lge.gif) no-repeat -4px -1px; padding: 12px 0 6px 80px;
   }

.cat-overview .activities { background: url(images/category-activities-lge.gif) no-repeat; padding: 12px 0 0 35px; }
.cat-overview .drinking h1 { background: url(images/category-drinking-lge.gif) no-repeat -25px 4px; padding: 12px 0 10px 60px; }
.cat-overview .entertainment h1 { background: url(images/category-entertainment-lge.gif) no-repeat -18px 4px; padding: 12px 0 10px 72px; }
.cat-overview .eating h1 { background: url(images/category-eating-lge.gif) no-repeat -15px 4px; padding: 12px 0 10px 75px; }
.cat-overview .shopping h1 { background: url(images/category-shopping-lge.gif) no-repeat -25px 4px; padding: 12px 0 10px 60px; }
.cat-overview .sights h1 { background: url(images/category-sights-lge.gif) no-repeat -5px 4px; padding: 12px 0 10px 76px; }
.cat-overview .sport h1 { background: url(images/category-activities-lge.gif) no-repeat -25px 4px; padding: 12px 0 14px 67px; }

.cat-overview h3 { background:none; padding-left: 0; }

.cat-overview h5 {
   color:#e42118;
   font-family: LPMillerBold, Georgia,Times,serif;
   border-bottom:3px dotted #e42118;
   padding-bottom:.2em;
   margin:.6em 0 .6em 0;
   font-size:1.2em;
   font-weight:normal;
   }

.need-to-know-3p-plus-overview-wider + h5 { margin-top:1.5em; }

.cat-overview h6 { background: none; padding: 0; }

.cat-overview .heading-7 {
   color:#e42118;
   text-transform:uppercase;
   font-size:.9em;
   margin-top:.8em;
   font-family: Helvetica, Arial, sans-serif;
   font-weight:bold;
   }

.category-overview-image { margin-bottom:1em; }

.cat-overview .list-b,
.cat-overview-image-heavy .list-b,
.cat-overview-best-lists .list-b {
   font-family:Times, "Times New Roman", serif;
   font-size:1em;
   }

.cat-overview .list-b .emphasis-character a,
.cat-overview-image-heavy .list-b .emphasis-character a { font-weight:normal; }

.cat-overview-best-lists .list-c .emphasis-character a { font-weight:normal; }

.cat-overview .intro-flush-left { color: #e42118; font-family: Georgia,Times,serif; font-style: italic; margin-bottom: 0.6em; }

.category-icon-lge { font-family:LPIcons2012; font-style:normal; color:#e42118; font-weight:normal; font-size:1.2em; float:left; margin-top:-5px; display:block }

.context-need-to-know-3p-plus-overview-wider {
   background-color: #eee8d7;
   border-radius: 10px 10px 10px 10px;
   margin:1em 0;
   padding: 1em;
   page-break-inside: avoid;
   }

.context-need-to-know-3p-plus-overview-wider p { font-family:LPBentonSansRegular, Helvetica, Arial, sans-serif!important; font-size: .9em; }

.cat-overview .need-to-know-sidebar {
   background-color: #eee8d7;
   border-radius: 10px;
   margin:1em 0;
   padding: 1em;
   page-break-inside: avoid;
   }

.cat-overview .need-to-know-sidebar h5 {
   border-bottom: 2px dotted #E8181C;
   font-family: Helvetica, Arial, sans-serif!important;
   font-size: 1em;
   font-weight: bold;
   margin: 0 0 0.5em;
   padding-bottom: 3px;
   text-transform: uppercase;
   color: #000;
   }
   .cat-overview .need-to-know-sidebar div h5 { margin:15px 0 0 0; text-transform: none; border:none; padding:0; color:#E8181C; }

.cat-overview .poi { margin-top:1em; }
.cat-overview .poi .name { font-weight:bold; font-family:Helvetica, Arial, sans-serif!important; }

/* Boxed text */
.cat-overview .box-text {
   background:none;
   border-radius: 20px;
   border:4px solid #e42118;
   margin:1em 0;
   padding: 1em;
   page-break-inside: avoid;
   }

.context-category-overview-map { margin:1em 0; }
