.main-toolbar-button {
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
}

#unpackButton {
  -fx-background-image:url('../icons/Toolbox-UnpackIcon.png');
}

#packButton {
  -fx-background-image:url('../icons/Toolbox-PackIcon.png');
}

#pickButton {
  -fx-background-image:url('../icons/Toolbox-PickIcon.png');
}

#epubCheckButton {
  -fx-background-image:url('../icons/Toolbox-CheckIcon.png');
}

#imageCheckButton {
  -fx-background-image:url('../icons/Toolbox-ImageCheckIcon.png');
}

#sizeCheckButton {
  -fx-background-image:url('../icons/Toolbox-SizeCheckIcon.png');
}

#allCheckButton {
  -fx-background-image:url('../icons/Toolbox-AllCheckIcon.png');
}
